body {
    background: linear-gradient(90deg, black, purple, indigo);
    color: whitesmoke;
    min-height: 100vh;
}

.file_form_wrap {
    
    display: none;
}

#paint_canvas {
    width: 100%;
    min-height: 75vh;
    background: whitesmoke;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.9;
}